replicaCount: 2

namespace:
  create: true
  name: postgres-database

image:
  repository: postgres
  tag: latest
  pullPolicy: IfNotPresent

service:
  # cluster ip is for internal communication within the cluster
  # we will have to use port-forward for local testing or an ingress or a load balancer for external access
  type: ClusterIP
  port: 5432

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

db:
  db_name: helm_project
  user: postgres

secrets:
  dbPassword: mysecretpassword
