apiVersion: v1
kind: Secret
metadata:
  name: {{ include "postgres-db.fullname" . }}
  namespace: {{ .Values.namespace.name }}
type: Opaque
stringData:
    POSTGRES_PASSWORD: {{ .Values.secrets.dbPassword | quote }}