apiVersion: v1
kind: Secret
metadata:
  name: {{ include "register-customer.fullname" . }}
  namespace: {{ .Values.namespace.name }}
type: Opaque
stringData:
  DB_PASSWORD: {{ .Values.secrets.dbPassword | quote }}